body {
    background-color: rgb(123, 175, 218);
    flex: 1;
}
section {
    flex: 1;
    display: flex;
    justify-content: center; /* Opcional: Centra contenido horizontalmente */
    align-items: center;   /* Opcional: Centra contenido verticalmente */
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #898c8f;
    border-bottom: 1px solid #898c8f;
}
.logo h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
}
  
.tagline p {
    font-size: 1rem;
    font-style: italic;
    color: #6c757d;
}